<div class="h-full max-h-[85vh] overflow-y-auto space-y-2 px-2">
  <ul *ngIf="chats.length > 0">
    <li *ngFor="let chat of chats" (click)="chatSelected.emit(chat)" class="flex items-center justify-between px-3 py-3 bg-white rounded-lg shadow-sm hover:bg-orange-50 cursor-pointer transition">
      <!-- Avatar + Infos -->
      <div class="flex items-center gap-3">
        <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
          <span class="font-medium text-gray-600 dark:text-gray-300">
            {{ getInitials(getOtherParticipant(chat)) }}
          </span>
        </div>
        <div class="text-sm">
          <div class="font-semibold text-gray-800">{{ getOtherParticipant(chat) }}</div>
          <div class="text-xs text-gray-500 truncate max-w-[200px]">{{ chat.messages[chat.messages.length -1].content}}</div>
          <div class="text-[11px] text-gray-400">RE: {{ chat.posted_by.title }}</div>
        </div>
      </div>
      <!-- Heure -->
      <div class="text-xs text-gray-400">{{chat.messages[chat.messages.length - 1].created_at}}</div>
    </li>
  </ul>
  <div *ngIf="chats.length === 0" class="flex items-center justify-center h-full">
    <p class="text-gray-500">No chats available.</p>
  </div>
</div>
