<form>
  <label for="chat" class="sr-only">Votre message</label>
  <div class="flex items-center px-3 py-2 rounded-lg bg-white border border-gray-300">
    <!-- Zone de texte -->
    <textarea
      id="chat"
      rows="1"
      class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-[#ff9000] focus:border-[#ff9000]"
      placeholder="Écrivez votre message..."
    ></textarea>

    <!-- Bouton envoi -->
    <button
      type="submit"
      class="inline-flex justify-center p-2 text-white bg-[#00ff40] rounded-full hover:bg-orange-600 transition"
    >
      <svg
        class="w-5 h-5 rotate-90 rtl:-rotate-90"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 18 20"
      >
        <path
          d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
        />
      </svg>
      <span class="sr-only">Envoyer</span>
    </button>
  </div>
</form>

