<!-- <div class="flex items-center justify-center min-h-screen bg-gray-100"> -->
  <div class="bg-white shadow rounded-xl p-4 w-64">
  <h3 class="text-sm font-semibold text-gray-800 mb-3">Actions rapides</h3>
  <ul class="space-y-3">

    <li [routerLink]="['/create-announcement']"  class="flex items-center space-x-2 text-sm text-gray-700 hover:text-blue-600 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
     <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
       <!-- Icône annonce -->
    </svg>
      <span>Publier une annonce</span>
    </li>

    <li [routerLink]="['/chat']" class="flex items-center space-x-2 text-sm text-gray-700 hover:text-blue-600 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
       <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
       <!-- Icône message -->
      </svg>

      <span>Messages</span>
    </li>

    <li (click)="logOut()" class="flex items-center space-x-2 text-sm text-red-500 hover:text-red-600 cursor-pointer">
      <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
        <!-- Icône déconnexion -->
        <path d="M16 13v-2H7V8l-5 4 5 4v-3zM20 3h-8a2 2 0 0 0-2 2v4h2V5h8v14h-8v-4h-2v4a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2z"/>
      </svg>
      <span>Déconnexion</span>
    </li>
  </ul>
</div>

<!-- </div> -->
