<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tableau de bord</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans">
  <div class="flex bg-gray-100 h-full">
    <!-- Sidebar -->
    <app-sidebard></app-sidebard>

    <!-- Main Content -->
    <main class="flex-1 pr-30 pt-10 pl-30 space-y-6">
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">Toutes les categories</h2>
        <button   (click)="openCreateModal()"  class="bg-orange-500 text-white px-4 py-2 rounded">
          + Nouvelle categories
        </button>
      </div>
      
      <!-- Statistiques globales -->
      <div class="flex justify-between items-center mb-6 bg-white p-4 rounded-lg shadow">
        <h2 class="text-lg font-semibold text-gray-700">
          Total des catégories: <span class="text-orange-500 font-bold">0</span>
        </h2>
        <h2 class="text-lg font-semibold text-gray-700">
          Total des annonces: <span class="text-orange-500 font-bold">0</span>
        </h2>
      </div>

      <!-- Liste categories -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 w-full">
        @for (category of categories; track category.id) {
        <app-categorie-card [categorie]="category"></app-categorie-card>
        }
      </div>
    </main>
      
    
      <!-- Modale -->
      <div *ngIf="createModalOpen" class="fixed inset-0 backdrop-blur-sm bg-black/10 flex items-center justify-center z-50">
        <!-- Affichage du toast avec le message d'erreur ou de success -->
        <div *ngIf="showToast" class="fixed top-0 left-0 w-full z-50 flex justify-center">
          <div [ngClass]="{
                'bg-green-500': toastType === 'success',
                'bg-red-500': toastType === 'error'
              }"
            class="text-white px-6 py-3 rounded-b shadow-md w-full max-w-md mx-auto flex justify-between items-center animate-slide-down">
            <p class="text-lg text-center font-semibold">
              {{ toastMessage }}
            </p>
          </div>
        </div>
        <div class="bg-white rounded-xl shadow-lg w-full max-w-md p-6 relative">
          <!-- Bouton fermer -->
          <button (click)="closeCreateModal()"
            class="absolute top-2 right-2 text-orange-500 hover:text-red-600 text-xl font-bold">
            &times;
          </button>

          <!-- Formulaire -->
          <form [formGroup]="createCategorieForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <h2 class="text-xl font-semibold text-gray-800 mb-4">
              Nouvelle catégorie
            </h2>

            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Nom de la catégorie</label>
              <input formControlName="name" placeholder="Nom de la catégorie"
                class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500" />
              <div *ngIf="isSubmited && createCategorieForm.get('name')?.errors?.['required']"
                class="text-red-500 text-sm">
                Le nom est obligatoire
              </div>
            </div>

            <div>
              <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
              <textarea formControlName="description" placeholder="Description" class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500"></textarea>
              <div *ngIf="isSubmited && createCategorieForm.get('description')?.errors?.['required']"
                class="text-red-500 text-sm">
                La description est  obligatoire
              </div>
            </div>

            <div>
              <label for="photo" class="block text-sm font-medium text-gray-700">Photo</label>
              <input type="file" formControlName="photo" (change)="onFileSelected($event)"
                class="mt-1 w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-orange-300 file:text-white" />

              <div *ngIf="isSubmited && createCategorieForm.get('photo')?.errors?.['required']"
                class="text-red-500 text-sm">
                La photo est obligatoire
              </div>
            </div>

            <button type="submit"
              class="w-full bg-orange-500 text-white py-2 rounded-lg hover:bg-orange-700 transition duration-200">
              Créer
            </button>
          </form>
        </div>
      </div>
  </div>
</body>

</html>