<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des annonces</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100  h-full  font-sans">
    <div class="flex bg-gray-100  ">
        <!-- Sidebar -->
        <app-sidebard></app-sidebard>
        <div class="flex-1 pr-30 pt-10 pl-30 space-y-6">
            <div class="flex items-center justify-between mb-4">
                <h1 class="text-2xl font-semibold">Annonces</h1>
            </div>
            <!-- Filtres -->
            <div class="bg-white p-4 rounded shadow mb-6">
                <div class="flex flex-wrap gap-4 items-end">
                    <div class="flex flex-col">
                        <label class="text-gray-600 mb-1">Catégorie</label>
                        <select>
                            <option>Toutes les catégories</option>
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <label class="text-gray-600 mb-1">Prix</label>
                        <select class="border rounded px-3 py-2">
                            <option>Tous les prix</option>
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <label class="text-gray-600 mb-1">Date</label>
                        <select class="border rounded px-3 py-2">
                            <option>Toutes les dates</option>
                        </select>
                    </div>
                    <button class="ml-auto bg-orange-500 text-white px-4 py-2 rounded hover:bg-orange-600">Appliquer les
                        filtres</button>
                </div>
            </div>

            <mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="pb-2  text-orange-600 font-medium">
                            Toutes les annonces
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-announcement [filterType]="''"></app-announcement>

                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class=" text-gray-700 pb-2">
                            Désactivées
                        </span>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-announcement [filterType]="'disable'"></app-announcement>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</body>

</html>

