<div class="max-w-6xl mx-auto mt-10 px-4">
  <h3 class="text-3xl text-center  font-bold">Annonces Recentes</h3>
  <p class="text-xl text-gray-500 text-center ">
    Découvrez les derniers fournitures disponibles sur notre plateforme
  </p>
  @if (announcements.length == 0) {
 <p>
    Aucune annonce disponible
  </p>
  }@else {
 <div class="w-full  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 mt-10  mb-16">
    @for(announce of announcements; track announce.id){
    <app-announcement-card [announcement]="announce"> </app-announcement-card>

    }
  </div>
  }
 
 
</div>
