<app-header></app-header>
<div class="flex flex-row flex-wrap my-10 w-full sm:w-[90%] lg:w-[75%]   mx-auto ">
  <!-- Composant A (gauche en haut) -->
  <div>
    <app-user-profile></app-user-profile>
  </div>

  <!-- Composant B (droite en haut) -->
  <div class=" w-[70%] ml-3  rounded shadow row-span-1 px-5">

    <mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
      <mat-tab label="Annonces" class=>
        <ng-template matTabContent>
          <app-announcement-profile></app-announcement-profile>
        </ng-template>
      </mat-tab>

      <mat-tab label="Favoris">
        <ng-template matTabContent>
          <app-announcement-favorite></app-announcement-favorite>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>


</div>
<app-footer></app-footer>
