<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tableau de bord</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100  h-full font-sans">
  <div class="flex bg-gray-100 ">
    <!-- Sidebar -->
    <app-sidebard></app-sidebard>


    <!-- Main Content -->
    <main class="flex-1 pr-30 pt-10 pl-30 space-y-6">
      <div class="flex justify-between items-center">
        <h2 class="text-2xl font-bold">Tableau de bord</h2>
      </div>

      <!-- Stat Cards -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        <div class="bg-white p-4 rounded shadow">
          <p class="text-sm text-gray-500">Annonces actives</p>
          <h3 class="text-2xl font-bold">  </h3>
          <p class="text-green-500 text-sm">+</p>
        </div>
        <div class="bg-white p-4 rounded shadow">
          <p class="text-sm text-gray-500">Utilisateurs inscrits</p>
          <h3 class="text-2xl font-bold"> </h3>
          <p class="text-green-500 text-sm">+</p>
        </div>
        <div class="bg-white p-4 rounded shadow">
          <p class="text-sm text-gray-500">Transactions réussies</p>
          <h3 class="text-2xl font-bold">0</h3>
          <p class="text-green-500 text-sm">+</p>
        </div>
        <div class="bg-white p-4 rounded shadow">
          <p class="text-sm text-gray-500">Signalements en attente</p>
          <h3 class="text-2xl font-bold text-red-500">  </h3>
          <p class="text-red-500 text-sm">+</p>
        </div>
      </div>

      <!-- Annonces récentes -->
      <div class="bg-white mb-10 p-4 rounded shadow">
        <div class="flex justify-between items-center mb-4">
          <h4 class="">Annonces récentes</h4>
          <a [routerLink]="['/admin/announcements']" class="text-orange-500 text-sm">Voir toutes</a>
        </div>
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-700">
            <thead class="bg-gray-100">
              <tr>
                <th class="p-2">Annonce</th>
                <th class="p-2">Vendeur</th>
                <th class="p-2">Catégorie</th>
                <th class="p-2">Prix</th>
                <th class="p-2">Statut</th>
                <th class="p-2">Date de publication</th>
                <th class="p-2">Actions</th>
              </tr>
            </thead>
            @for(announce of announcements; track announce.id){
            <tbody>
              <tr class="border-t">
                <td class="p-2">
                  {{ announce.title }} <br /><span class="text-gray-400 text-xs"># {{ announce.id }}
                  </span>
                </td>
                <td class="p-2">
                  {{ announce.created_by.name }} <br /><span class="text-gray-400 text-xs">
                    {{ announce.created_by.email }}
                  </span>
                </td>
                <td class="p-2">{{ announce.category.name }}</td>
                <td class="p-2">
                  {{
                  announce.operation_type === "don"
                  ? "Gratuit"
                  : announce.operation_type === "exchange"
                  ? "Echange"
                  : announce.price + " fc "
                  }}
                </td>
                <td class="p-2 text-green-600 font-semibold">
                  {{ announce.is_completed ? 'Vendu' : 'Disponible' }}
                </td>
                <td class="p-2">{{ announce.created_at }}</td>
                <td class="p-2 space-x-2">
                  <button class="text-purple-500">✏️</button>
                  <button class="text-red-500">🔐</button>

                </td>
              </tr>
            </tbody>
            }
          </table>
        </div>
      </div>
      <!-- Report récentes -->
      <div class="bg-white mb-10 p-4 rounded shadow">
        <div class="flex justify-between items-center mb-4">
          <h4 class="">Report récents</h4>
          <a [routerLink]="['/admin/reports']" class="text-orange-500 text-sm">Voir toutes</a>
        </div>
        <div class="flex flex-col gap-4">
        @for (reports of report; track reports.id) {
          <app-report-card  [report]="reports"></app-report-card>
        }
        </div>
      </div>
    </main>
  </div>

</body>

</html>